.btn {
  height: 50px;
  width: 75px;
  border-radius: 5%;
  border: 3px solid gray;
}
button {
  width: 75px;
  height: 50px;
  border-radius: 5%;
}
button.mbtn {
  padding:0.1em 1em;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:0.8em;
  border:0;
  cursor:pointer;
  margin:1em;
}

button.mbtn.green
{
    background-color:#2e7d32;
}

button.mbtn.red
{
    background-color:#c62828;
}